* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

.navigation ul {
  display: flex;
  list-style: none;
}

.navigation ul li a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.navigation ul li a:hover {
  color: #2b2828;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.active {
  border-bottom: 2px solid #2b2828;
}

.inactive {
  border-bottom: 2px solid transparent;
}

.missions-container {
  padding: 20px 50px;
}
